Projekt/www/xml/playlist.dtd

<!ELEMENT playlist (name, totallength, genre?, album+)>

<!ELEMENT name (#PCDATA)>

<!ELEMENT totallength (#PCDATA)>
<!ATTLIST totallength 
    unit CDATA "min"
>

<!ELEMENT genre (#PCDATA)>
<!ATTLIST genre
    type (metal|rock|other) "other"
>

<!ELEMENT album (song+)>
<!ATTLIST album
    name CDATA #REQUIRED
>

<!ELEMENT song (#PCDATA)>
